
.container{
    border: 1px solid #000000;
    width:50%;
    margin: 30px auto;
    height: 300px;
    position: relative;
}
.box{
    width:50px;
    height:50px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #000000;
    display: inline-block;
   
}
.boxA{
    background-color: #0000ff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
   
}
.boxB{
    background-color: #ff0000;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 3;
    
}
.boxC{
    background-color: #008000;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}
